{% extends "list/base.html" %}
{% block content %}
    {%for post in posts%}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{post.fname}} {{post.mname}} {{post.lname}}</a>
          <small class="text-muted">{{ post.date_recorded }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.total }}</a></h2>
        <p class="article-content"href="#">{{ post.remarks }}</p>
      </div>
    </article>
    {% endfor %}
{% endblock content%}
